<h2>Enroll New Provider</h2>
<form class="enroll-provider">
    <mat-form-field class="form-field" appearence="fill">
        <mat-label>Provider ID</mat-label>
        <input matInput placeholder="Enter Provider ID" name="providerId" [(ngModel)]="providerId" required>
    </mat-form-field>
    <br>
    <mat-form-field class="form-field" appearence="fill">
        <mat-label>Provider Name</mat-label>
        <input matInput placeholder="Enter Provider Name" name="providerName" [(ngModel)]="providerName" required>
    </mat-form-field>
    <br>
    <mat-form-field class="form-field" appearence="fill">
        <mat-label>Amount Per Unit</mat-label>
        <input matInput placeholder="Enter Amount To Be Charged Per Unit" name="amountCharged" [(ngModel)]="amountCharged" required>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" (click)="enroll()">ENROLL</button>
</form>