<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script>
<div class="container">
    <h2 class="center">USER DETAILS</h2>
    <br>
    <div>
        <h2>User Name: {{userName}}</h2>
    </div>
    <br>
    <br>
    <div>
        <button type="button" class="btn btn-secondary" (click)="createSmartMeter()" id="create">CREATE</button>

    </div>
    <br>
    <div>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Smart Meter ID</th>
                    <th>Total Readings</th>
                    <th>Amount To Be Paid</th>
                    <th>Energy Provider</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let smartMeter of smartMeters">
                    <td>{{ smartMeter.smartMeterId }}</td>
                    <td>{{ smartMeter.totalReadings }}</td>
                    <td>{{ smartMeter.amountToBePaid }}</td>
                    <td>
                        <select [(ngModel)]="providerId" id="providerId"
                            (ngModelChange)="switchProviders(smartMeter.smartMeterId,providerId)">
                            <option value="" disabled selected>{{smartMeter.providerId}}</option>
                            <option *ngFor="let provider of providersArray" [value]="provider.providerId">
                                {{provider.providerId}}</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>