<section class=" text-center text-lg-start">
    <div class="row g-0 d-flex align-items-center">
        <div class="col-lg-5 d-none d-lg-flex">
            <img src="assets/user.png" class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
        </div>
        <div class="col-lg-6">
            <div class="card-body py-5 px-md-5">
                <h1>Hey.! Welcome {{user}}</h1>
                <br>
                <h2>Pick your operation</h2>
                <section>
                    <button mat-raised-button color="accent" (click)="viewSmartMeterReadings()">View SmartMeter
                        Readings</button>
                </section>
                <br>
                <section>
                    <button mat-raised-button color="primary" (click)="viewProvidersCurrentRates()">View Providers
                        Current Rates</button>
                </section>
                <br>
            </div>
        </div>
    </div>
</section>