<div class="container">
    <h2 class="center">APPROVAL PAGE</h2>
    <br>
    <br>
    <br>
    <br>
    <div>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Smart Meter ID</th>
                    <th>Approval Status</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let smartMeter of userDetails">
                    <td>{{ smartMeter.smartMeterId }}</td>
                    <td><b>{{smartMeter.approvalStatus}}</b> <br><br> <button type="button" class="btn btn-success"
                            (click)="editApprovalStatus(smartMeter.smartMeterId)">Approve</button> <button type="button"
                            class="btn btn-danger"
                            (click)="editApprovalStatusReject(smartMeter.smartMeterId)">Reject</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>